<div class="card">
  
  <div class="container" >
    <h2>Welcome To <b>MessyMessage</b> </h2>
<p>Please Login here!</p>
  <div class="card-body" *ngIf="!loggedin">
      <form  (submit)="signin($event)">
          <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" [(ngModel)]="email" name="email" class="form-control"  />
            
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" [(ngModel)]="pwd" name="pwd" class="form-control"  />
            
          </div>
          <div class="mb-3">
              
              <button type="button" class="btn btn-primary" type="submit">Submit</button>
             
          </div>
          
          <div id="errormsg">{{errormsg}}</div>
      </form>
  </div>
  <div class="card-body" *ngIf="loggedin">
      <h3> You are already logged in.</h3>
      <a href="/profile" >Home</a>
  <div class="tologout"> <a class="nav-link " href="" (click) ="logout($event)">Logout</a> </div>

  </div>
</div>
</div>