<div class="container-card">
        <div class="centered-content">
                <div *ngIf="!safeImageUrl" class="card-content">
                        <div class="image-wrapper">
                                <img [src]="urlbefore" *ngIf="!safeImageUrl"  width="300px" height="300px">
                        </div>
                        
                        <h1>{{currentuser.username}}</h1>
                        <h2>{{role}}</h2>
                        <button (click)="editedimage()">Edit your Profile</button>
                </div>
                <div  *ngIf="safeImageUrl" class="card-content">
                        <div class="image-wrapper">
                                <img [src]="safeImageUrl" width="300px" height="300px" >
                        </div>
                        
                        <h1>{{currentuser.username}}</h1>
                        <h2>{{role}}</h2>
                        <button (click)="editedimage()">Edit your Profile</button>
                </div>
                
                <div *ngIf="edited" class="card-content2" >
                        <input type="file" (change)="onFileSelected($event)" accept="image/*">
                        <button (click)="displayImage()">Display Image</button>
                </div>
        </div>
</div>




        
        