<div class="container">
  <h1>Avatar Upload</h1>
  <form>
    <!-- Form elements here -->
  </form>

  <div class="profile">
    <!-- User profile information here -->
  </div>

  <!-- Feature for SUP user -->
  <div *ngIf="currentuser.role == 'SUP'">
    <div>
      <!-- Create Room feature -->
      <input [(ngModel)]="newRoomName" placeholder="New room name" />
      <button (click)="createRoom()">Create Room</button>
    </div>

    <div>
      <!-- Select Room feature -->
      <select>
        <option [ngValue]="null">Select Room</option>
        <option *ngFor="let room of rooms">{{ room.name }}</option>
      </select>
    </div>

    <div *ngFor="let room of rooms">
      <!-- Delete Room feature -->
      {{ room.name }}
      <button (click)="deleteRoom(room.id)">Delete</button>

      <div *ngFor="let channel of room.channels">
        <!-- Display channel information -->
        {{ channel.name }}
      </div>
    </div>

    <div class="channel-list">
      <!-- Channels in selected room -->
      <h2>Channels in {{ getSelectedRoomName() }}</h2>
      <div *ngFor="let channel of selectedRoomChannels">
        {{ channel.name }}
      </div>
      <input [(ngModel)]="newChannelName" placeholder="New channel name" />
      <button (click)="createChannelInSelectedRoom()">Create Channel</button>
    </div>

    <br>
    <br>
    <div>
      <h2>Room List</h2>
      <ul>
        <!-- Sử dụng ngFor để lặp qua danh sách các phòng và hiển thị chúng -->
        <li *ngFor="let room of rooms">
          {{ room.name }}
          <!-- Thêm nút "Join" cho mỗi phòng và gắn sự kiện click để tham gia vào phòng -->
          <button (click)="joinRoom(room.id)">Join</button>
          <button (click)="leaveRoom(room.id)">Rời phòng</button>

        </li>
      </ul>
    </div>
    <!-- Trong file profile.component.html -->
    <div>
      <h2>Create New User</h2>
      <form (submit)="createUser()">
        <label for="newUsername">Username:</label>
        <input type="text" id="newUsername" [(ngModel)]="newUsername" name="newUsername" required>
    
        <label for="newEmail">Email:</label>
        <input type="email" id="newEmail" [(ngModel)]="newEmail" name="newEmail" required>
    
        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    
        <button type="submit">Create User</button>
      </form>
    </div>
    
    <div>
      <h2>User List</h2>
      <ul>
        <li *ngFor="let user of users">
          <span>{{ user.username }}</span>
          <button (click)="deleteUser(user.id)">Delete</button>
        </li>
      </ul>
    </div>
    

   
    
    
    
    
    

    <button>Admin Action</button>
  </div>

  <!-- Other features for different user roles -->
</div>
